@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

:root {
  --lightGrey: #4f5665;
  --darkGrey: #0b132a;
  --mainRed: #f53838;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
.nav-bar {
  position: relative;
  width: 100%;
  margin-top: 35px;
}
.nav-bar img {
  margin-left: 131px;
}
.nav-links {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-links a {
  font-size: 16px;
  text-decoration: none;
  color: var(--lightGrey);
  font-weight: 300;
}

.nav-links a{
  background:
    linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgb(255, 255, 255)
    ),
    linear-gradient(
      to right,
      #f53838,
      #f53838,
      #f53838
  );
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 500ms;
}
a:hover {
  background-size: 0 2px, 100% 2px;
}


.nav-links a + a {
  margin-left: 30px;
}
.nav-btn {
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
}
.button-sgin {
  font-size: 16px;
  font-weight: 500;
  color: var(--darkGrey);
  text-align: center;
  text-decoration: none;
  margin-right: 30px;
}
.btn-sigup {
  padding: 10px 40px;
  border: 1px solid var(--mainRed);
  color: var(--mainRed);
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  text-decoration: none;
}

/*? banner */
.banner {
  width: 100%;
  height: 470px;
  margin-top: 90px;
}
.left {
  float: left;
  width: 50%;
  height: 400px;
  padding-left: 190px;
  padding-top: 20px;
}
.left .banner-title {
  color: var(--darkGrey);
  font-size: 46px;
  font-weight: 600;
}
.left .banner-title b {
  color: var(--mainRed);
}
.left .banner-p {
  font-size: 14px;
  color: var(--lightGrey);
  font-weight: 300;
  margin-top: 30px;
}
.left .get-started {
  background-color: rgb(245, 56, 56);
  border-radius: 10px;
  padding: 20px 80px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin-top: 100px;
  box-shadow: #f53838 0px 30px 80px -10px, #f53838 0px 20px 60px -30px;
}
.right {
  height: 400px;
  float: right;
  height: 400px;
  width: 49%;
}


/** information **/
.container{
  width: 1110px;
  margin: 0 auto;
}


.information {
  width: 100%;
  height: 350px;
  position: relative;
}
.information .table {
  background-color: var(--mainRed);
  height: 200px;
  width: 1100px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: #f53838 0px 50px 600px -70px ;
}
.table .inf-left {
  position: relative;
  display: inline-block;
  border-radius: 15px;
  width: 32%;
  height: 200px;
}
.inf-left img {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 110px;
  top: 50%;
}
.inf-left h1 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 180px;
  top: 45%;
  font-size: 25px;
  color: white;
}
.inf-left p {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 180px;
  top: 59%;
  font-size: 20px;
  color: white;
}
.table .inf-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  border-radius: 15px;
  width: 32%;
  height: 200px;
}
.inf-center img {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 100px;
  top: 50%;
}
.inf-center h1 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 180px;
  top: 45%;
  font-size: 25px;
  color: white;
}
.inf-center p {
  position: absolute;
  display: inline;
  transform: translate(-50%, -50%);
  left: 180px;
  top: 59%;
  font-size: 20px;
  color: white;
}
.table .inf-right {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 84%;
  top: 50%;
  float: right;
  border-radius: 15px;
  width: 32%;
  height: 200px;
}
.inf-right img {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 100px;
  top: 50%;
}
.inf-right h1 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 180px;
  top: 45%;
  font-size: 25px;
  color: white;
}
.inf-right p {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 180px;
  top: 59%;
  font-size: 20px;
  color: white;
}
.vl {
    border-left: 1px solid white;
    height: 170px;
    margin-bottom: 15px;
    width: 3px;
    display: inline-block;
  }
  

  /** informaiton-2 **/

.information-2{
   width: 100%;
   position: relative;
   height: 34rem;
}
.information-2 .left{
    width: 50%;
    float: left;
  
}
.information-2 .left img{
  float: right;
}

.information-2 .right{
  width: 49%;
  float: right;
  position: relative;
  padding-top: 40px;
  padding-left: 140px;
}

.information-2 .right h1{
    font-size: 35px;
    color: var(--darkGrey);
    font-weight: 500;

}
.information-2 .right b{
  color: var(--mainRed);
}

.information-2 .right .inside{
  font-size: 16px;
  color: var(--lightGrey);
  font-weight: 300;
  margin-top: 30px;

}
.information-2 ul{
  margin-top: 30px;
  margin-left: 25px;
  
 list-style-image:url("assets/Icon/verified.png");
 
}
.information-2 ul li{
  position: relative;
  margin-top: 10px;
}
.information-2 ul li p{
  position: absolute;
  transform: translate(-50%,-50%);
  display: inline;
  top: 40%;

}
/**  choose-yout-plan */

.chose-item-section{
  padding-top: 30px;
  margin-top: 40px;
  background-color: rgba(219, 208, 208, 0.157);
  height: 1000px;
}
.choose-item-title{
  margin-top: 50px;
  font-size: 35px;
  font-weight: 500;
  color: var(--darkGrey);
  text-align: center;
}
.choose-item-title b{
  color: #f53838;
}
.choose-item-description{
  color: var(--lightGrey);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
}
.choose-cards{
  position: relative;
  display: inline-block;
    width: 330px;
    height: 760px;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    background-color: white;
    margin-top: 30px ;
}
.cards-image{
  margin-top: 66px;
  display: block;
  text-align: center;
  
}
.choose-cards{
    margin-left: 30px;  

}
.card-title{
  font-size: 18px;
  color: var(--darkGrey);
  text-align: center;
  margin-top: 20px;
}
.cards-features {
  margin-top: 60px;
  margin-left: 80px;
}
.cards-features ul li {
  list-style: none;
  margin-top: 30px;
  color: var(--darkGrey);
  font-size: 14px;
}
.cards-features ul li img{
  margin-right: 15px;
}
.card-price{
  transform: translate(-50%,-50%);
  left: 50%;
  position: absolute;
  bottom: 110px;
  font-size: 25px;
  font-weight: 600;

}
.card-price h1{
  color: var(--lightGrey);
  font-size: 20px;
}
.card-select-button{
  transform: translate(-50%,-50%);
  position: absolute;
  bottom: 30px;
  left:50%;
  border: 2px solid var(--mainRed);
  color: var(--mainRed);
  padding: 12px 70px;
  border-radius: 20px;
  background-color: white;
  font-weight: 700;
  font-size: 16px;

}
.card-select-button:hover{
   color: white;
   background-color: var(--mainRed);
   box-shadow: #f53838 0px 30px 30px -10px, #f53838 0px 20px 0px -30px;
}